In [28]:
import os
import pandas as pd
import numpy as np
import arviz as az

from cmdstanpy import CmdStanModel, cmdstan_path, set_cmdstan_path

az.style.use("arviz-darkgrid")

In [2]:
set_cmdstan_path(os.path.join('/','opt','conda', 'bin', 'cmdstan'))
cmdstan_path()

'/opt/conda/bin/cmdstan'

In [19]:
stan_file = os.path.join('src', 'model.stan')

In [20]:
model = CmdStanModel(stan_file=stan_file)

16:19:37 - cmdstanpy - INFO - compiling stan file /home/jovyan/Stakeholders-Cooperativas/src/model.stan to exe file /home/jovyan/Stakeholders-Cooperativas/src/model
16:19:51 - cmdstanpy - INFO - compiled model executable: /home/jovyan/Stakeholders-Cooperativas/src/model

In [21]:
print(model)

CmdStanModel: name=model
	 stan_file=/home/jovyan/Stakeholders-Cooperativas/src/model.stan
	 exe_file=/home/jovyan/Stakeholders-Cooperativas/src/model
	 compiler_options=stanc_options={}, cpp_options={}

In [6]:
data_file = os.path.join('data', 'sample.csv')
list_columns = [
    # cooperada
    "NOME", "segmento",
    # respondente
    "sexo", "idade", "escolaridade", "cargo", "anos_trabalhados",
    # cooperada
    "idade_geral", "idade_formal", "numero_cooperados", "pessoas_adm", "acordos", "faturamento",
    # stakeholders
    "federal_1", "federal_2", "federal_3",
    "estadual_municipal_1", "estadual_municipal_2", "estadual_municipal_3",
    "concorrentes_1", "concorrentes_2", "concorrentes_3",
    "fornecedores_1", "fornecedores_2", "fornecedores_3",
    "sociedade_1", "sociedade_2", "sociedade_3",
    "cooperados_1", "cooperados_2", "cooperados_3",
    "federal_4", "federal_5", "federal_6",
    "estadual_municipal_4", "estadual_municipal_5", "estadual_municipal_6",
    "concorrentes_4", "concorrentes_5", "concorrentes_6",
    "fornecedores_4", "fornecedores_5", "fornecedores_6",
    "sociedade_4", "sociedade_5", "sociedade_6",
    "cooperados_4", "cooperados_5", "cooperados_6",
    "federal_7", "federal_8", "federal_9",
    "estadual_municipal_7", "estadual_municipal_8", "estadual_municipal_9",
    "concorrentes_7", "concorrentes_8", "concorrentes_9",
    "fornecedores_7", "fornecedores_8", "fornecedores_9",
    "sociedade_7", "sociedade_8", "sociedade_9",
    "cooperados_7", "cooperados_8", "cooperados_9",
    # cooperada
    "flexibilidade", "valorizacao", "inovacao", "mudancas", "formalismo", "produtividade", "hierarquia", "controle"
]
df = pd.read_csv(data_file, sep=';', encoding='latin-1', names=list_columns, header=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117 entries, COOPERATIVA DE PRODUÇÃO ARTESANAL DO CRUTAC to MARINGÁ CULTURAL COOPERATIVISMO
Data columns (total 75 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NOME                  117 non-null    object
 1   segmento              117 non-null    object
 2   sexo                  117 non-null    object
 3   idade                 117 non-null    int64
 4   escolaridade          117 non-null    object
 5   cargo                 117 non-null    object
 6   anos_trabalhados      117 non-null    int64
 7   idade_geral           117 non-null    int64
 8   idade_formal          117 non-null    int64
 9   numero_cooperados     117 non-null    int64
 10  pessoas_adm           117 non-null    int64
 11  acordos               117 non-null    int64
 12  faturamento           117 non-null    int64
 13  federal_1             117 non-null    object
 14  federal_2             117 non-null    object
 15  federal_3             117 non-null    object
 16  estadual_municipal_1  117 non-null    object
 17  estadual_municipal_2  117 non-null    object
 18  estadual_municipal_3  117 non-null    object
 19  concorrentes_1        117 non-null    object
 20  concorrentes_2        117 non-null    object
 21  concorrentes_3        117 non-null    object
 22  fornecedores_1        117 non-null    object
 23  fornecedores_2        117 non-null    object
 24  fornecedores_3        117 non-null    object
 25  sociedade_1           117 non-null    object
 26  sociedade_2           117 non-null    object
 27  sociedade_3           117 non-null    object
 28  cooperados_1          117 non-null    object
 29  cooperados_2          117 non-null    object
 30  cooperados_3          117 non-null    object
 31  federal_4             117 non-null    object
 32  federal_5             117 non-null    object
 33  federal_6             117 non-null    object
 34  estadual_municipal_4  117 non-null    object
 35  estadual_municipal_5  117 non-null    object
 36  estadual_municipal_6  117 non-null    object
 37  concorrentes_4        117 non-null    object
 38  concorrentes_5        117 non-null    object
 39  concorrentes_6        117 non-null    object
 40  fornecedores_4        117 non-null    object
 41  fornecedores_5        117 non-null    object
 42  fornecedores_6        117 non-null    object
 43  sociedade_4           117 non-null    object
 44  sociedade_5           117 non-null    object
 45  sociedade_6           117 non-null    object
 46  cooperados_4          117 non-null    object
 47  cooperados_5          117 non-null    object
 48  cooperados_6          117 non-null    object
 49  federal_7             117 non-null    object
 50  federal_8             117 non-null    object
 51  federal_9             117 non-null    object
 52  estadual_municipal_7  117 non-null    object
 53  estadual_municipal_8  117 non-null    object
 54  estadual_municipal_9  117 non-null    object
 55  concorrentes_7        117 non-null    object
 56  concorrentes_8        117 non-null    object
 57  concorrentes_9        117 non-null    object
 58  fornecedores_7        117 non-null    object
 59  fornecedores_8        117 non-null    object
 60  fornecedores_9        117 non-null    object
 61  sociedade_7           117 non-null    object
 62  sociedade_8           117 non-null    object
 63  sociedade_9           117 non-null    object
 64  cooperados_7          117 non-null    object
 65  cooperados_8          117 non-null    object
 66  cooperados_9          117 non-null    object
 67  flexibilidade         117 non-null    object
 68  valorizacao           117 non-null    object
 69  inovacao              117 non-null    object
 70  mudancas              117 non-null    object
 71  formalismo            117 non-null    object
 72  produtividade         117 non-null    object
 73  hierarquia            117 non-null    object
 74  controle              117 non-null    object
dtypes: int64(8), object(67)
memory usage: 69.5+ KB

In [7]:
df.replace(["Discordo Totalmente", "Discordo", "Não concordo e nem discordo", "Concordo", "Concordo Totalmente"], [-2, -1, 0, 1, 2], inplace=True)

In [8]:
df.replace("Nem concordo nem discordo", 0, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117 entries, COOPERATIVA DE PRODUÇÃO ARTESANAL DO CRUTAC to MARINGÁ CULTURAL COOPERATIVISMO
Data columns (total 75 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NOME                  117 non-null    object
 1   segmento              117 non-null    object
 2   sexo                  117 non-null    object
 3   idade                 117 non-null    int64
 4   escolaridade          117 non-null    object
 5   cargo                 117 non-null    object
 6   anos_trabalhados      117 non-null    int64
 7   idade_geral           117 non-null    int64
 8   idade_formal          117 non-null    int64
 9   numero_cooperados     117 non-null    int64
 10  pessoas_adm           117 non-null    int64
 11  acordos               117 non-null    int64
 12  faturamento           117 non-null    int64
 13  federal_1             117 non-null    int64
 14  federal_2             117 non-null    int64
 15  federal_3             117 non-null    int64
 16  estadual_municipal_1  117 non-null    int64
 17  estadual_municipal_2  117 non-null    int64
 18  estadual_municipal_3  117 non-null    int64
 19  concorrentes_1        117 non-null    int64
 20  concorrentes_2        117 non-null    int64
 21  concorrentes_3        117 non-null    int64
 22  fornecedores_1        117 non-null    int64
 23  fornecedores_2        117 non-null    int64
 24  fornecedores_3        117 non-null    int64
 25  sociedade_1           117 non-null    int64
 26  sociedade_2           117 non-null    int64
 27  sociedade_3           117 non-null    int64
 28  cooperados_1          117 non-null    int64
 29  cooperados_2          117 non-null    int64
 30  cooperados_3          117 non-null    int64
 31  federal_4             117 non-null    int64
 32  federal_5             117 non-null    int64
 33  federal_6             117 non-null    int64
 34  estadual_municipal_4  117 non-null    int64
 35  estadual_municipal_5  117 non-null    int64
 36  estadual_municipal_6  117 non-null    int64
 37  concorrentes_4        117 non-null    int64
 38  concorrentes_5        117 non-null    int64
 39  concorrentes_6        117 non-null    int64
 40  fornecedores_4        117 non-null    int64
 41  fornecedores_5        117 non-null    int64
 42  fornecedores_6        117 non-null    int64
 43  sociedade_4           117 non-null    int64
 44  sociedade_5           117 non-null    int64
 45  sociedade_6           117 non-null    int64
 46  cooperados_4          117 non-null    int64
 47  cooperados_5          117 non-null    int64
 48  cooperados_6          117 non-null    int64
 49  federal_7             117 non-null    int64
 50  federal_8             117 non-null    int64
 51  federal_9             117 non-null    int64
 52  estadual_municipal_7  117 non-null    int64
 53  estadual_municipal_8  117 non-null    int64
 54  estadual_municipal_9  117 non-null    int64
 55  concorrentes_7        117 non-null    int64
 56  concorrentes_8        117 non-null    int64
 57  concorrentes_9        117 non-null    int64
 58  fornecedores_7        117 non-null    int64
 59  fornecedores_8        117 non-null    int64
 60  fornecedores_9        117 non-null    int64
 61  sociedade_7           117 non-null    int64
 62  sociedade_8           117 non-null    int64
 63  sociedade_9           117 non-null    int64
 64  cooperados_7          117 non-null    int64
 65  cooperados_8          117 non-null    int64
 66  cooperados_9          117 non-null    int64
 67  flexibilidade         117 non-null    int64
 68  valorizacao           117 non-null    int64
 69  inovacao              117 non-null    int64
 70  mudancas              117 non-null    int64
 71  formalismo            117 non-null    int64
 72  produtividade         117 non-null    int64
 73  hierarquia            117 non-null    int64
 74  controle              117 non-null    int64
dtypes: int64(70), object(5)
memory usage: 69.5+ KB

In [10]:
df.head()

,NOME,segmento,sexo,idade,escolaridade,cargo,anos_trabalhados,idade_geral,idade_formal,numero_cooperados,...,cooperados_8,cooperados_9,flexibilidade,valorizacao,inovacao,mudancas,formalismo,produtividade,hierarquia,controle
COOPERATIVA DE PRODUÇÃO ARTESANAL DO CRUTAC,Produtos Artesanal,Márcia Maria De Oliveira,Feminino,67,Ensino Superior,Presidente,30,54,54,120,...,-1,1,0,1,2,2,2,2,2,1
COOPERATIVA AMAZONENSE DE ARTESANATO,Artesanatato,Larissa,Feminino,65,Pós Graduado,Diretor,8,7,7,52,...,0,0,2,2,2,2,2,2,2,2
COOPERATIVA DE TRABALHADORES NO ESTADO DO TOCANTINS - COOPERTAB,Educacional,Giovanna,Feminino,37,Pós Graduado,Vice Presidente.,12,12,12,43,...,1,1,2,2,1,1,1,1,2,1
COOPERATIVA BORDANA,Bordado Manual,Celma Grace,Feminino,52,Pós Graduado,Diretora Presidentea,14,11,11,28,...,1,1,2,2,2,2,2,2,1,2
COOPERATIVA ARTESANAL MISTA DE PARNAÍBA LTDA,Ramo Trabalho,Sara,Feminino,60,Pós Graduado,Presidente,20,20,20,15,...,0,0,1,1,1,1,0,1,1,0

In [11]:
# atributos
df.iloc[:, 6:12].describe()

,anos_trabalhados,idade_geral,idade_formal,numero_cooperados,pessoas_adm,acordos
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,10.376068,14.675214,14.094017,65.196581,3.846154,35.188034
std,6.299598,12.460855,12.363728,77.587352,4.652799,351.071363
min,3.000000,4.000000,3.000000,6.000000,0.000000,0.000000
25%,5.000000,7.000000,7.000000,21.000000,2.000000,0.000000
50%,9.000000,11.000000,10.000000,34.000000,3.000000,2.000000
75%,14.000000,15.000000,15.000000,64.000000,4.000000,5.000000
max,31.000000,54.000000,54.000000,360.000000,48.000000,3800.000000

In [15]:
# criar variaveis
df["stakeholders_total"] = df.iloc[:, 13:67].sum(axis=1)
df["cultura_total"] = df.iloc[:, 67:75].sum(axis=1)
df["cultura_idx"] = pd.cut(df["cultura_total"], 3, labels=[1, 2, 3])

In [16]:
# Variavel dependente stats
df["stakeholders_total"].describe()

count    117.000000
mean      16.726496
std       25.655753
min      -39.000000
25%        4.000000
50%       19.000000
75%       33.000000
max       60.000000
Name: stakeholders_total, dtype: float64

In [23]:
# dados para o modelo
data = {
    'N': df.shape[0],
    'K': df.iloc[:, 6:12].shape[1],
    'X': df.iloc[:, 6:12].to_numpy(),
    'y': df["stakeholders_total"].to_numpy(),
    'J': 3,
    'idx': df["cultura_idx"].to_numpy(),
}

In [24]:
fit = model.sample(data=data, parallel_chains=4)

16:20:44 - cmdstanpy - INFO - CmdStan start processing
chain 1:   0% 0/22 [00:00<?, ?it/s[{'value': 'Status'}]]
chain 2:   0% 0/22 [00:00<?, ?it/s[{'value': 'Status'}]]

chain 3:   0% 0/22 [00:00<?, ?it/s[{'value': 'Status'}]]


chain 4:   0% 0/22 [00:00<?, ?it/s[{'value': 'Status'}]]
chain 1:   9% 2/22 [00:00<00:01, 14.10it/s[{'value': 'Iteration:    1 / 2000 [  0%]  (Warmup)'}]]

chain 3:   9% 2/22 [00:00<00:01, 12.93it/s[{'value': 'Iteration:    1 / 2000 [  0%]  (Warmup)'}]]


chain 4:   9% 2/22 [00:00<00:01, 11.44it/s[{'value': 'Iteration:    1 / 2000 [  0%]  (Warmup)'}]]
chain 1:  27% 6/22 [00:00<00:00, 24.52it/s[{'value': 'Iteration:  400 / 2000 [ 20%]  (Warmup)'}]]

chain 3:  27% 6/22 [00:00<00:00, 23.11it/s[{'value': 'Iteration:  400 / 2000 [ 20%]  (Warmup)'}]]


chain 4:  27% 6/22 [00:00<00:00, 22.38it/s[{'value': 'Iteration:  400 / 2000 [ 20%]  (Warmup)'}]]
chain 1:  50% 11/22 [00:00<00:00, 34.04it/s[{'value': 'Iteration:  900 / 2000 [ 45%]  (Warmup)'}]]

chain 3:  50% 11/22 [00:00<00:00, 32.61it/s[{'value': 'Iteration:  900 / 2000 [ 45%]  (Warmup)'}]]


chain 4:  50% 11/22 [00:00<00:00, 30.39it/s[{'value': 'Iteration:  900 / 2000 [ 45%]  (Warmup)'}]]
chain 1:  77% 17/22 [00:00<00:00, 39.92it/s[{'value': 'Iteration: 1400 / 2000 [ 70%]  (Sampling)'}]]

chain 3:  73% 16/22 [00:00<00:00, 35.81it/s[{'value': 'Iteration: 1300 / 2000 [ 65%]  (Sampling)'}]]


chain 4:  73% 16/22 [00:00<00:00, 33.82it/s[{'value': 'Iteration: 1300 / 2000 [ 65%]  (Sampling)'}]]
chain 1: 100% 22/22 [00:00<00:00, 39.29it/s[{'value': 'Iteration: 1900 / 2000 [ 95%]  (Sampling)'}]]

chain 3:  91% 20/22 [00:00<00:00, 34.72it/s[{'value': 'Iteration: 1700 / 2000 [ 85%]  (Sampling)'}]]


chain 1: 100% 22/22 [00:00<00:00, 29.73it/s[{'value': 'Sampling completed'}]]
chain 2: 100% 22/22 [00:00<00:00, 29.93it/s[{'value': 'Sampling completed'}]]
chain 3: 100% 22/22 [00:00<00:00, 30.12it/s[{'value': 'Sampling completed'}]]
chain 4: 100% 22/22 [00:00<00:00, 30.30it/s[{'value': 'Sampling completed'}]]

16:20:45 - cmdstanpy - INFO - CmdStan done processing.
16:20:45 - cmdstanpy - WARNING - Non-fatal error during sampling:
Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
	Exception: normal_id_glm_lpdf: Scale vector is inf, but must be positive finite! (in '/home/jovyan/Stakeholders-Cooperativas/src/model.stan', line 29, column 2 to column 50)
Consider re-running with show_console=True if the above output is unclear!
16:20:45 - cmdstanpy - WARNING - Some chains may have failed to converge.
	Chain 1 had 2 divergent transitions (0.2%)
	Chain 2 had 2 divergent transitions (0.2%)
	Chain 3 had 1 divergent transitions (0.1%)
	Use function "diagnose()" to see further information.

In [25]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
lp__,-792.487000,0.104141,3.048130,-798.308000,-792.032000,-788.323000,856.69500,750.17100,1.007310
alpha,3.454410,0.285751,7.082160,-3.642000,1.624030,19.445400,614.26300,537.88300,1.009130
beta[1],-0.253780,0.003364,0.217687,-0.613809,-0.253056,0.105348,4187.19000,3666.54000,0.999735
beta[2],0.659681,0.013564,0.669112,-0.452318,0.656719,1.767600,2433.32000,2130.76000,1.001240
beta[3],-1.171230,0.013772,0.672342,-2.289230,-1.178370,-0.050672,2383.45000,2087.08000,1.001370
beta[4],0.035988,0.000234,0.014985,0.011106,0.035934,0.060529,4084.85000,3576.92000,0.999672
beta[5],-1.386030,0.010235,0.557511,-2.316060,-1.371520,-0.471131,2967.17000,2598.23000,1.000180
beta[6],0.030177,0.000137,0.007436,0.017872,0.030181,0.042366,2952.08000,2585.01000,1.000100
sigma,11.801620,0.005830,0.352630,11.231300,11.791200,12.403000,3664.40023,3208.75677,1.003210
tau,27.625180,0.461460,15.285390,10.726100,23.824900,55.521500,1097.21162,960.78076,1.004540
z[1],0.612930,0.015069,0.424812,-0.067737,0.646763,1.194180,794.73100,695.91200,1.006330
z[2],0.611491,0.015002,0.433813,-0.095152,0.631415,1.210790,836.21000,732.23300,1.005640
z[3],1.591440,0.014727,0.600249,0.686516,1.549070,2.638770,1661.22000,1454.66000,1.003450
alpha_j[1],19.253100,0.060085,3.512180,13.552600,19.278100,25.080600,3416.80000,2991.94000,1.000380
alpha_j[2],19.253300,0.067697,4.208640,12.420500,19.248300,26.105200,3864.89000,3384.32000,1.000920
alpha_j[3],40.418200,0.063279,3.620200,34.435500,40.443500,46.314200,3272.98000,2866.01000,0.999947

In [26]:
print(fit.diagnose())

Processing csv files: /tmp/tmp588geo8s/model14m16rzx/model-20230308162044_1.csv, /tmp/tmp588geo8s/model14m16rzx/model-20230308162044_2.csv, /tmp/tmp588geo8s/model14m16rzx/model-20230308162044_3.csv, /tmp/tmp588geo8s/model14m16rzx/model-20230308162044_4.csv

Checking sampler transitions treedepth.
Treedepth satisfactory for all transitions.

Checking sampler transitions for divergences.
5 of 4000 (0.12%) transitions ended with a divergence.
These divergent transitions indicate that HMC is not fully able to explore the posterior distribution.
Try increasing adapt delta closer to 1.
If this doesn't remove all divergences, try to reparameterize the model.

Checking E-BFMI - sampler transitions HMC potential energy.
E-BFMI satisfactory.

Effective sample size satisfactory.

Split R-hat values satisfactory all parameters.

Processing complete.